[class*="anim"]{
    opacity: 0;
}

.animate {
    opacity: 1;
  }

/* Animation texte vers le haut*/
@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.anim-text-pop-up-top.animate {
-webkit-animation: text-pop-up-top 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: text-pop-up-top 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* Animation de roulade a gauche*/

@keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
}
  
.anim-roll-in-left.animate {
	-webkit-animation: roll-in-left 0.6s ease-out both;
	        animation: roll-in-left 0.6s ease-out both;
}


/* Animation de fade in*/
.anim-fade-in.animate {
    transition: opacity 0.5s ease-in-out; 
  }

/* Animation texte vers la gauche*/
@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.anim-slide-in-left.animate {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  

/*Animation bg gradient hozizontal*/
@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bg-pan-left {
    background-size: 600% 100%;
    background: linear-gradient(to right, #282524, #372b3f);
	animation: bg-pan-left 8s infinite both;
    
}