
.competences{
    display: flex;
    flex-direction:row;
    border: #ab9f9f 2px solid;
    align-items: center;
}
.competence{
    text-align: left;
    border: 2px solid #ddd7d7;
    padding: 1rem;
    color: #ffffff;
    gap: 1rem;
    width: 100%;
}

#bar.bar {
    display: flex;
    border: 0;
    height: 1px;
    background: #fffefe;
    width: 90%;
    text-align: center;
    margin: 1rem;
}

.projets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.projet{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-radius: 0.5rem;
    border: 3px solid #ab9f9f;
    height: 10rem; 
    padding: 0.25rem;
    font-size: 1rem;
    color: #ffffff;
    gap: 1rem;
}

.projet p{
font-size: 0.6rem;
}

