
header {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    color: azure;
    gap: 1rem;
    width: 100%;
    margin-bottom: 3rem;
}

header h1{
    display: flex;
    color: white;
    align-items: center;
    width: auto;
    font-size: 2.5rem;
}

header .social-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

.icon {
    font-size: 2.5rem;
    color:white;
    text-decoration: none;
}

.icon:hover {
    color: #007bff;
}