@import 'animation.css';
@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-primary-color: #0f0e17; */
  --bg-primary-color: #16161a;
  --bg-secondary-color: #242629;

}



#app {
  margin: 0;
  width: 100%;
}

body {
  background-color: var(--bg-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #ffffff;
}

a:hover {
  color: gray;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: #ffffff;
}

